main{

    .new-arrival-container{
        background-color: #FCFCFC;
        margin: 100px auto;

        .new-arrival-header{
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
}